<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Hunt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block pagestyles %}{% endblock %}
    {% load staticfiles %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}" style="color: #DA552F;">
                    <img src="{% static 'logo.svg' %}" class="d-inline-block align-top" height="30px"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="background: white; border-right: none;"><img src="https://img.icons8.com/windows/32/000000/search.png" height="13px"></div>
                            </div>
                            <input type="text" class="form-control" style="border-left:none; padding-left: 0;" id="inlineFormInputGroupUsername2" placeholder="Discover your next favourite thing ...">
                        </div>
                    </form>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Deals</a>
                        <a class="nav-item nav-link active" href="#">Jobs</a>
                        <a class="nav-item nav-link active" href="#">Makers</a>
                        <a class="nav-item nav-link active" href="#">Radio</a>
                        <a class="nav-item nav-link active" href="#">Ship</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <a class="btn btn-outline-dark mx-2" type="button" onclick="document.getElementById('logout').submit()">Log Out</a>
                        <form id="logout" method="POST" action="{% url 'logout' %}">{% csrf_token %}<input type="hidden" /></form>
                        {% else %}
                        <a class="btn btn-outline-dark mx-2" type="button" href="{% url 'login' %}">Log In</a>
                        <a class="btn btn-warning mx-2" style = "background-color: #DA552F; color: white;" type="button" href="{% url 'signup' %}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section name="main">
        <div class="container">
            <h1 class = "title">
                {% block title %}{% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>