<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Count Result</title>
</head>
<body>
<h1>Word Count</h1>

<a href = "{% url 'home' %}">Start Again</a>

<p>There were {{ wordcount }} words in your text</p>

<table>
    <tr>
        <th>Word</th>
        <th>Count</th>
    </tr>
    {% for word, count in wordcountdict %}
    <tr>
        <td>{{word}}</td>
        <td>{{count}}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>