<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Count Home Page</title>
</head>
<body>
    <h1>Welcome to the Word Count Home Page</h1>

    <form action="{% url 'count' %}" >
        <label>Enter text to count words</label>
        <br/>
        <textarea cols="80" rows="10" name="full-text"></textarea>
        <br/>
        <input type="submit" value="Count!" />
    </form>
</body>
</html>