{% extends 'base.html' %}

{% block title %}
Log In
{% endblock %}

{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}