{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{% endif %}

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
    </div>
    <hr/>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Confirm Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}